VERSION=v6.9.27
TZ=Asia/Shanghai
MANAGEMENT_PASSWORD=xxxxx
MANAGEMENT_STATIC_PATH=/tmp
PGSTORE_LOCAL_PATH=/tmp
PGSTORE_DSN=postgres://xxx:xxxxx@xxxxx:xxxxx/xxxxx?sslmode=disable
PRIVATE_HOST=xxx.xxx.xxx.xxx
